In [2]:
import pandas as pd
Filename = 'C:\\Users\\Admin\\Downloads\\Email ABM 2020.xlsx'
data = pd.read_excel(Filename, sheet_name = None, ignore_index = True)

In [56]:
#df = pd.read_excel(Filename, sheet_name = 'Sheet1' )

In [57]:
data.keys()

odict_keys(['Sheet1', 'W13 ABM Connected', 'W13 ABM TBD 1', 'W13 ABM TBD 2', 'W12 ABM Connected', 'W12 ABM TBD', 'Folloup of W12 ABM TBD', 'W11 ABM Connected.', 'W11 ABM TBD', 'Trget companies- 19th march', 'Target Companies - 9th March', 'NCR W51-5', 'Daily req W11', 'Daily Req W10', 'Chandigarh', 'HSR Layout Campaign New', ' HSR Layout Campaign Old', 'Bl Dream 38-50', 'ABM 38-50', 'Services-38-50', 'Services 38-50 2', 'W10 ABM TBD', 'W10 ABM Connected', 'W9 ABm TBD.', 'W9 ABm Connected', 'W8 ABM Connected', 'W7 - VC', 'Followup W7 - VC', 'W7 abm TBD', 'W7 abm Connected', 'W7 BL dream  Connected', 'W7 BL dream TBD.', 'W6ABM Connected', 'W6ABMTBD', 'W5ABM Connected', 'W5ABM TBD', 'W4ABM connected', 'W4ABM TBD', 'W3ABM connected', 'Follow-up on W3ABM connected', 'W3ABM tbd', 'W2ABM connected', 'W2ABM TBD', 'W1 ABM Connected', 'W1 ABM TBD', 'W1 Services', 'Meeting mail ABM 40,41,42', 'TW Mails(without TW)', 'TW - ETCS', 'Meeting Mail ABM Till W49', '1Meeting Mail ABM Till W49', 'CNBC & BW', 'Targeted Comp 0402(CNBC)', 'Targeted Comp Fresh 0402(CNBC)', 'Bang Tactical Abm from W48-52 1', 'Bang Tact 18.2'])

In [58]:
data = pd.concat(data)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [59]:
#df1 = pd.read_excel(Filename, sheet_name = 'SS1 ' )

In [60]:
#df1 = pd.DataFrame(df1)

In [61]:
#df = df.merge(df1, left_on = 'Email', right_on = 'Email', how = 'right')

In [62]:
#df = df.drop(columns = ['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])
#df.head()

In [63]:
data.shape

(17326, 72)

In [64]:
data.head()

         Company Company Name Designation                     Email Industry  \
Sheet1 0     NaN          NaN         NaN     amit.singh@shuttl.com      NaN
       1     NaN          NaN         NaN  kamesh.goyal@godigit.com      NaN
       2     NaN          NaN         NaN     rahul.samat@swiggy.in      NaN
       3     NaN          NaN         NaN      shivi@cleardekho.com      NaN
       4     NaN          NaN         NaN    saurabh@cleardekho.com      NaN

         Location Merge status Merge status.1       Person Status Person Type  \
Sheet1 0      NaN          NaN            NaN  Linkedin Responded         NaN
       1      NaN          NaN            NaN           Connected         NaN
       2      NaN          NaN            NaN           Connected         NaN
       3      NaN          NaN            NaN           Connected         NaN
       4      NaN          NaN            NaN           Connected         NaN

          ... Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 company  \
Sheet1 0  ...        NaN        NaN        NaN        NaN        NaN     NaN
       1  ...        NaN        NaN        NaN        NaN        NaN     NaN
       2  ...        NaN        NaN        NaN        NaN        NaN     NaN
       3  ...        NaN        NaN        NaN        NaN        NaN     NaN
       4  ...        NaN        NaN        NaN        NaN        NaN     NaN

         date email location           name
Sheet1 0  NaN   NaN      NaN     Amit Singh
       1  NaN   NaN      NaN   Kamesh Goyal
       2  NaN   NaN      NaN    Rahul Samat
       3  NaN   NaN      NaN    Shivi Singh
       4  NaN   NaN      NaN  Saurabh Dayal

[5 rows x 72 columns]

In [6]:
df1 = pd. read_csv('C:\\Users\\Admin\\Contact_Status.csv')

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (25,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df1['Score']=""

In [8]:
df1.columns

Index(['Unnamed: 0', 'Email', 'Person Status', 'Viewed Pointdrive',
       'Email_Status1', 'Email_Status2', 'Email_Status3', 'Email_Status4',
       'Email_Status5', 'Email_Status6', 'Email_Status7', 'Email_Status8',
       'Email_Status9', 'Email_Status10', 'Email_Status11', 'Email_Status12',
       'Email_Status13', 'Email_Status14', 'Email_Status15', 'Email_Status16',
       'Email_Status17', 'Email_Status18', 'Email_Status19', 'Email_Status20',
       'Email_Status21', 'Email_Status22', 'Email_Status23', 'Email_Status24',
       'Email_Status25', 'Email_Status26', 'Email_Status27', 'Email_Status28',
       'Email_Status29', 'Email_Status30', 'Email_Status31', 'Email_Status32',
       'Email_Status33', 'Email_Status34', 'Email_Status35', 'Email_Status36',
       'Email_Status37', 'Email_Status38', 'Email_Status39', 'Email_Status40',
       'Email_Status41', 'Email_Status42', 'Email_Status43', 'Email_Status44',
       'Email_Status45', 'Email_Status46', 'id_co', 'id_con', 'Score'],
      dtype='object')

In [11]:
df1.tail(10)

,Unnamed: 0,Email,Person Status,Viewed Pointdrive,Email_Status1,Email_Status2,Email_Status3,Email_Status4,Email_Status5,Email_Status6,...,Email_Status40,Email_Status41,Email_Status42,Email_Status43,Email_Status44,Email_Status45,Email_Status46,id_co,id_con,Score
17735,17735,zorian@atiim.com,X,X,EMAIL_SENT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AXX4401,ZAXX4401[12820],
17736,17736,zoya_khan@technaq.in,X,X,BOUNCED,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TDX11901,ZTDX11901[24885],
17737,17737,zsait@ocrolus.com,TBD,0,EMAIL_OPENED,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ONF2546,ZONF2546[8835],
17738,17738,zubin.dhamodiwala@godrejinfotech.com,TBD,0,BOUNCED,BOUNCED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GMI1480,ZGMI1480[5162],
17739,17739,zubin.mody@indusind.com,X,X,EMAIL_SENT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMX9238,ZIMX9238[20414],
17740,17740,zubin.priyansh@blackcoffeerobotics.com,X,X,EMAIL_SENT,EMAIL_SENT,EMAIL_SENT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BHX10390,ZBHX10390[22140],
17741,17741,zuhaib@shopatplaces.com,X,X,BOUNCED,BOUNCED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SXX7955,ZSXX7955[18504],
17742,17742,zuhaib@techheadsoftware.in,X,X,EMAIL_SENT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TXX4260,DTXX4260[12614],
17743,17743,zulfiqar@hooq.tv,X,X,EMAIL_OPENED,EMAIL_SENT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HMX8916,ZHMX8916[19923],
17744,17744,Zunaid@knudge.me,X,X,EMAIL_OPENED,EMAIL_SENT,EMAIL_SENT,EMAIL_OPENED,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KBX10265,ZKBX10265[21931],

In [53]:
count = 0
for i in range(len(data)):
    df1['Person Status'].iloc[i] == "Connected" or df1['Person Status'].iloc[i] == "Linkedin Responded":
        count +=1
        if df1['Viewed Pointdrive'].iloc[i] == 'Viewed':
            count +=1
    df1['Score'] = count
    count = 0

0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        2
1        2
2        2
3        2
4        2
        ..
17740    2
17741    2
17742    2
17743    2
17744    2
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
17740    0
17741    0
17742    0
17743    0
17744    0
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
17740    1
17741    1
17742    1
17743    1
17744    1
Name: Score, Length: 17745, dtype: int64

In [54]:
df1.head(10)

,Unnamed: 0,Email,Person Status,Viewed Pointdrive,Email_Status1,Email_Status2,Email_Status3,Email_Status4,Email_Status5,Email_Status6,...,Email_Status40,Email_Status41,Email_Status42,Email_Status43,Email_Status44,Email_Status45,Email_Status46,id_co,id_con,Score
0,0,*kroskam@ksmmedia.com,TBD,0,BOUNCED,EMAIL_SENT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KOM135,KKOM135[649],1
1,1,193@altbalaji.com,X,X,BOUNCED,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AXX8204,SAXX8204[18811],1
2,2,22@trackehs.com,X,X,BOUNCED,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TCX6389,RTCX6389[15987],1
3,3,a.achlerkar@splendornet.com,X,X,EMAIL_SENT,EMAIL_SENT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPX9164,ASPX9164[20288],1
4,4,a.aeinz@alientt.com,X,X,EMAIL_SENT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHX193,AAHX193[856],1
5,5,a.agarwal@crisil.com,TBD,0,BOUNCED,BOUNCED,BOUNCED,EMAIL_SENT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CMX623,ACMX623[1969],1
6,6,a.agarwal@neudesic.com,Connected,0,BOUNCED,BOUNCED,BOUNCED,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NHX616,ANHX616[1923],1
7,7,a.agarwal@tofler.in,Connected,0,EMAIL_SENT,EMAIL_SENT,EMAIL_OPENED,EMAIL_SENT,EMAIL_OPENED,EMAIL_SENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TNX728,ATNX728[2361],1
8,8,a.agrawal@3i.com,TBD,0,BOUNCED,BOUNCED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EMX1157,AEMX1157[3982],1
9,9,a.amalnerkar@splendornet.com,X,X,EMAIL_SENT,EMAIL_SENT,EMAIL_SENT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPX9164,ASPX9164[20289],1

In [65]:
datadf = data.to_csv('C:\\Users\\Admin\\ContactStatus2.csv')